<h2>Busquedas</h2>
<hr>
<ul class="list-group flex-md-column flex-row justify-content-center w-100">
    <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item flex-fill border rounded text-center text-md-start"
    >
        Buscar pais
    </li>
    <li routerLink="region"
        routerLinkActive="active"
        class="list-group-item flex-fill border rounded text-center text-md-start"
    >
        Por region
    </li>
    <li routerLink="capital"
        routerLinkActive="active"
        class="list-group-item flex-fill border rounded text-center text-md-start"
    >
        Por capital
    </li>
</ul>
